<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".CallSentryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CallSentry">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Deep link: callsentry://home -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="callsentry" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.RulesActivity" android:exported="false" />
        <activity android:name=".ui.RelationshipsActivity" android:exported="false" />
        <activity android:name=".ui.InstitutionsActivity" android:exported="false" />
        <activity android:name=".ui.InstitutionDetailActivity" android:exported="false" />
        <activity android:name=".ui.CallDetailActivity" android:exported="false" />
        <activity android:name=".ui.CallLogReviewActivity" android:exported="false" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" />

        <service
            android:name=".service.SentryScreeningService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>
    </application>
</manifest>
